/* Global Styles */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
    transition: background-color 0.3s ease-in-out;

}

header h2 {
    text-align: center;
    color: white;
}

/* Header Styles */
header {
    background-color: #293229;
    color: white;
    padding: 5px;
    text-align: center;
    transition: background-color 0.3s ease-in-out;
}


nav {

    overflow: hidden;
}

nav ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    display: flex;
    justify-content: center;
}

nav ul li {
    transition: transform 0.3s ease;
}

nav ul li:hover {
    transform: scale(1.1);
}

nav ul li a {
    display: block;
    color: rgb(167, 165, 165);
    text-decoration: underline;
    text-align: center;
    padding: 5px 60px;
    transition: background-color 0.3s ease;
    font-weight: bold;

}

nav ul li a:hover {

    color: white;
}

/* Section Styles */
section {
    padding: 20px;
    margin: 20px;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

section:hover {
    transform: translateY(-5px);
}

h2 {
    color: #4CAF50;
    margin-bottom: 20px;
}

/* Skills Styles */
.skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.skill-item {
    flex: 1 1 30%;
    margin: 10px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, background-color 0.3s ease;
}

.skill-item:hover {
    transform: translateY(-5px);
    background-color: #f0f0f0;
}

.skill-item h3 {
    color: #333;
}

/* Projects Styles */
.project-item {
    margin-bottom: 20px;
    padding: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
    background-color: #f9f9f9;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.project-item:hover {
    transform: translateY(-5px);
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}

footer ul {
    margin: 0;
    padding: 5px;
    list-style-type: none;
    display: flex;
    justify-content: center;
    bottom: 0;
    background-color: #293229;
}

footer ul li a {
    color: rgb(167, 165, 165);
    text-decoration: underline;
    text-align: center;
    padding: 5px 60px;
    transition: background-color 0.3s ease;
    font-weight: bold;

}

footer ul li a:hover {

    color: white;

}